body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	transition: background-color 0.3s, color 0.3s;
}
.container{
	text-align: center;
	margin-bottom: 20%;
}
button{
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 6px;
}
body.light{
	background-color: #F08080;
	color: black;
}
button.light{
	background-color: #B22222;
	color: black;
}
body.dark{
	background-color: #B22222;
	color: white;
}
button.dark{
	background-color: #F08080;
	color: black;
}